* {
  padding: 0;
  margin: 0;
}
/* img{
  height: 100%;
  width: 100%;
} */
body {
  font-family: "Lato", sans-serif;
  font-family: "Lora", serif;
}
.section1 {
  /* overflow: hidden; */
  background-image: url(./images/hero-food-image.jpg);
  background-color: rgba(0, 0, 0, 0.5);
  /* background-blend-mode: normal; */
  /* object-fit: cover; */
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;
 
}

.good {
  color: rgb(63, 8, 63);
}



nav {
  padding: 4.5rem;
}
/* .the-best-comfort {
  padding: 2.5rem;
  margin-left: 5.5rem;
} */

/* .good-food {
  padding-top: 5rem;
} */


a {
  text-decoration: none;
  color:rgb(249, 13, 13);
  /* padding: 5rem; */
}
.button1 {
  background-color: rgb(249, 13, 13);
  color: white;
  border: none;
  padding: 10px;
  box-shadow: 2px 1px 1px 2px rgb(249, 13, 13) ;
}
.ten{
  color: rgb(249, 13, 13);
  
}

.button2 {
  background: none;
  border: none;
}

/* .best-comfort {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.best-comfort2 {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* padding-right: 5rem; */
}
.lore {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

/* .section2 {
  width: 50%;
  padding-left: 20rem;
} */
.section2b {
  /* width: 50%; */
  padding-left: 8rem;
  height: 100%;
}
.navbar-brand{
  color: rgb(85, 12, 85) !important; 

}
.section2b {
  position: relative;
}
.section3 {
  width: 50%;
  /* padding-right: 10rem; */
}
/* .section3b {
  width: 50%;
} */
.general1 {
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: white;
}

.picture {
  width: fit-content;
  /* margin: auto; */
  /* padding-top: 2rem; */
}

.section2-image {
  margin-top: 6rem;
  /* width: fit-content; */
  /* margin: auto; */
}

.sec0 {
  height: 450px;
  border-radius: 0% 0% 7rem 0%;
  margin: auto;
  width: 400px;
  object-fit: cover;
  padding-right: 3rem;
}
.sec1 {
  height: 10rem;
  width: 12rem;
  position: absolute;
  border-radius: 10px;
  left: 12.5rem;
  /* bottom: 2rem; */
  top: -4rem;
}
.sec2 {
  height: 10rem;
  width: 12rem;
  position: absolute;
  border-radius: 10px;
  left: 0;
  top: 8.5rem;
}
.sec3 {
  height: 8rem;
  width: 10rem;
  position: absolute;
  top: 6.5rem;
  left: 12.5rem;
  /* bottom: 2.7rem; */
  border-radius: 10px;
}
.sec4 {
  height: 8rem;
  width: 10rem;
  position: absolute;
  left: 2rem;
  border-radius: 10px;
}
.general2 {
  background-color: white;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-left: 5rem; */
}
/* .section5 {
  display: flex;
  justify-content: center;
  margin: 5rem;
} */
.button3 {
  border: none;
  background: none;
  color: white;
}
/* .explore {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.grids {
  /* margin: 2rem; */
  justify-content: center;
  align-items: center;
}
.box1 {
  width: 13rem;
  height: 10rem;
  border-radius: 1rem 1rem 0% 0%;
}
.box2 {
  width: fit-content;
  height: 10rem;
  border-radius: 1rem 1rem 0% 0%;
}
.box2a {
  width: fit-content;
  background-color: red;
}
.box2b {
  background-color: green;
}
.box2c {
  background-color: blue;
}
.box3 {
  width: 18rem;
  height: 12rem;
  border-radius: 1rem 1rem 0% 0%;
}
.box4 {
  width: 18rem;
  height: 12rem;
  border-radius: 1rem 1rem 0% 0%;
}
.box5 {
  width: 18rem;
  height: 12rem;
  border-radius: 1rem 1rem 0% 0%;
}
.box6 {
  height: 12rem;
  width: 18rem;
  border-radius: 1rem 1rem 0% 0%;
}
.ten {
  color: red;
}
.b-5 {
  background-color: wheat;
  width: 18rem;
}
.button0 {
  color: white;
  background-color: red;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.btn0 {
  justify-content: center;
}
.social-media-icons{
  margin-left: 7.5rem;

}


@media (max-width: 990px) {
  .section2-image {
    height: 17rem;
    margin: auto;
    margin-top: 6rem;
    
  }
}
@media(max-width: 954px) {
  .explore{
    display: block ;
  }
}